{% extends 'index.html' %}
{% block content %}
<div>
    
    <a href="{% url 'createorganization' %}"><button>+Create New Organization</button></a>
    <table style="min-width: 30%;text-align:left">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        {% for d in data %}
        <tr>
            <td><a href="{% url 'vieworgappointments' d.id %}">{{d.name}}</a></td>
            <td>{{d.organizationType}}</td>
            <td>
                <a href="{% url 'updateorganization' d.id %}"><button>Edit</button></a>
                <a href="{% url 'deleteorganization' d.id %}"><button>Delete</button></a>
            </td>
        </tr>
        {% empty %}
        <tr><td>No Organizations</td></tr>
        {% endfor %}
    </table>
</div>
{% endblock%}