{% extends 'index.html' %}
{% block content %}
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        {% for d in data %}
        <tr>
            <td>{{d.name}}</td>
            <td>{{d.organizationType}}</td>
            <td>
                <a href="{% url 'updateorganization' d.id %}">Update</a>
                <a href="{% url 'deleteorganization' d.id %}">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr><td>No Organizations</td></tr>
        {% endfor %}
    </table>
</div>
{% endblock%}